.superInput {
    border: 3px solid green;
    background-color: lightcyan;
    color: midnightblue;
    margin-bottom: 15px;
    border-radius: 5px;
}

.errorInput {
    border: 3px solid blueviolet;
    background: red;
}

.error {
    color: red;
    font-size: small;
    font-weight: bold;
}