.titleGreeting {
    font-family: Century Gothic;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.inputBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 50px;
    height: 25px;
}

.inputClass {

}

.input {
    background: white;
}

.input:focus {
    outline: none;
}

.error {
    color: red;
}

.errorInput {
    color: green;
    outline: none;
    border: 2px solid red;
}

.total {
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 10px;
}