.titleGreeting {
    font-family: Century Gothic;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.inputClass {
    display: flex;
    justify-content: center;
}

.error {
    border: 1px solid red;
    outline: none;
}

.trueClass {
    outline: none;
    background-color: honeydew;
    color: black;
}

.spanClass {
    margin-left: 10px;
}

.button {
    border: 2px black solid;
    border-radius: 5px;
}

.textError {
    margin-left: 10px;
    color: red;
    font-size: small;
}